* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: #3b3b3b;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: #1c1c1c;
  padding: 30px;
  width: 70%;
  border-radius: 10px;
}
.display_quote,
.input_quote,
.scoreboard {
  margin: 5px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}
.input_quote {
  height: 150px;
  resize: none;
  box-shadow: 5px 5px 5px black;
  outline: none;
}
.correct {
  color: lawngreen;
}
.incorrect {
  color: red;
  text-decoration: line-through;
}
.timer {
  position: absolute;
  top: 100px;
  color: white;
  font-size: 50px;
}
